# Docker ignore
.git
.pytest_cache
.coverage
htmlcov
coverage_html
.mypy_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd
.env
.venv
env
venv
profile_stats.txt
*.png
data/*.parquet
data/*.csv
!data/sample.parquet

# Certs
exports/
*.crt
*.key
*.pem
*.p12
*.pfx
cert.pem
key.pem
